
.view{
  background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}

/*extra small devices*/
@media (min-width: 300px) {
  #presentationDiv{
    background-size: 55%;
    height: 15em;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #presentationDiv {
        background-size: 80%;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #presentationDiv {
        background-size: 150%;
        height:150% !important;
    }
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#getStartedButton{
  background-color: #919173;
  border: none;
  color:white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#startTrial{
  background-color: #80cc33;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
.bg-dark{
  background: transparent !important;

  color: white !important;
}
.bg-dark.scrolled{
  background: #00b300 !important;
  color: grey;
}
.AboutUs{
  font-size: 400%;
}
.hrAbout{
  border-top: 1px solid grey;
}
#presentation{
  color: white;
}
.navbar-brand{
  color:white !important;
}
.nav-link{
 color:white !important; 
}
.leftinfo{
  float:rigth;
}
.tf{
	color: #83a7a5;
}
h6{
	color: #0f5f5c;
}

.card-body .card-text{
  margin: auto;
  color:#1abbc7;
  font-size:90%;
}
.card-body h4,h5 {
  color: #216d73;
}
h2 ion-icon{
  color:green;
}
.meetUs{
  background-color: #f5f5f0;
}

.card-deck{
  margin: auto;
}

.row .card-group{
  margin: auto;
}
.col-md-12 #presentation{
  margin: auto;
  font-size:90%;
}

.card{
  border-style: none;
}
.mainFooter{
  height: 300px;
  background-color: #00b300;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mft{
  color:white;

}
#download{
  background-color: #6FB048;
  border: none;
  color: white;
  position: flex;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.convince{
  margin: auto;
}

